<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
      body {
        background-color:antiquewhite;
      }
  </style> 
  </head>
  <body>
    <h1>MegaBot</h1>
    <h3>Um ChatBot usando o framework <a href="https://chatterbot.readthedocs.io/en/stable/#">ChatterBot</a></h3>
    <div>
      <div id="chatbox">
        <p class="botText"><span>   Olá tudo bem. Sou um Bot e estou aqui para responder sobre assuntos da Polícia Federal: passaporte, armas e migração
        </span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Digite a Mensagem aqui">
        <input id="buttonInput" type="submit" value="Enviar">
      </div>
      <script src="/static/js/main.js"></script>
    </div>
  </body>
</html>
